<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add a new Song</h3>
<form action="/songs" method="post">
    <label>Song name</label>
    <input type="text" name="title"/>

    <label>Song length</label>
    <input type="text" name="length"/>

    <label>Song trackNumber</label>
    <input type="text" name="trackNumber"/>

    <label > Song album</label>
    <input type="text" name="album">

    <input type="submit" value="add song">
</form>

</body>
</html>